name: xs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '2 10 * * *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: 初始化Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: 安装依赖
        run: |
          pip install -r ./requirements.txt
  
      - name: 运行
        run: |
          python3 xs.py
          

